.container {
    max-width: 1140px; //(1110 + 30 gutter)
    margin: 0 auto;
      padding: 0 15px;
  }
  //平板
  @media (max-width: 768px) {
    .container{
      max-width: 720px; //(690 + 30 gutter)
    }
  }
  //手機
  @media (max-width: 375px) {
    .container{
      max-width: 375px; //(345 + 30 gutter)
    }
  }



