@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* cssrest */
body {
  font-family: "Roboto", "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
body h2 {
  line-height: 1.5;
  font-size: 48px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #650300;
  text-align: center;
}
body h3 {
  font-size: 48px;
  line-height: 72px;
  color: #AA0601;
  font-weight: bold;
  font-style: italic;
}

.header {
  width: 100%;
  background-color: #650300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  margin: 10px;
}
.header ul {
  width: 500px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header ul a {
  color: white;
  text-decoration: none;
}
.header ul a:link {
  /* 設定還沒有瀏覽過的連結 */
  text-decoration: none;
}
.header ul a:hover {
  color: burlywood;
  text-decoration: none;
}

.banner {
  color: #650300;
  position: relative;
}
.banner .ban-img {
  max-width: 100%;
}
.banner .banner-item {
  position: absolute;
  top: 300px;
  right: 300px;
}
.banner .banner-item p {
  font-size: 36px;
  line-height: 1.5;
}
.banner .banner-item h1 {
  font-size: 64px;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
}

/* 用專業的心，做專業的事 */
.item1 {
  background: #AA06010D;
  margin: 0 auto;
}
.item1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item1 li {
  width: 255px;
  margin-right: 15px;
  margin-left: 15px;
}
.item1 li h3 {
  font-size: 24px;
  line-height: 1.5;
  color: #650300;
  text-align: center;
  margin-top: 16px;
}
.item1 li p {
  font-size: 16px;
  line-height: 1.5;
  padding: 5px;
}
.item1 li .im100 {
  width: 100px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item1 li .im100 img {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item2_care {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: auto;
}

.footer {
  background: #AA0601;
  color: #ffffff;
  padding: 24px 0 40px;
}
.footer .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFF;
  padding-bottom: 24px;
}
.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-nav {
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  padding: 20px;
}
.footer .footer-nav .footer-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.footer .footer-nav a:hover {
  color: burlywood;
  text-decoration: none;
}
.footer .footer-contact {
  font-size: 36px;
  line-height: 1.5;
  color: #ffffff;
}
.footer .footer-contact .footer-contacttel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.footer .footer-contact .footer-contactimg {
  margin-right: 8px;
  margin-left: 10px;
}
.footer .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-icon .footer-icon-img {
  margin-left: 32px;
}
.footer .footer-icon a:hover {
  opacity: 0.8;
}
.footer .footer-copyright {
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-top: 32px;
}
.footer .footer-copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-copyright ul li a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 48px;
  font-size: 14px;
}