/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* cssrest */
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif; }
  body h2 {
    line-height: 1.5;
    font-size: 48px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #650300;
    text-align: center; }
  body .redline-h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-left: 8px solid #9F1213; }
  body h3 {
    font-size: 48px;
    line-height: 72px;
    color: #AA0601;
    font-weight: bold;
    font-style: italic; }

.header {
  max-width: 100%;
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header .header-logo {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png") no-repeat;
    width: 80px;
    height: 49px;
    margin: 30px;
    text-indent: 101%;
    overflow: hidden;
    background-size: cover; }
  .header .header-logo:hover {
    opacity: 0.8; }
  .header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px; }
    .header .header-nav .header-nav-li a {
      text-decoration: none;
      color: #ffffff;
      padding-right: 20px;
      padding-left: 20px; }
    .header .header-nav .header-nav-li a:hover {
      opacity: 0.8; }

@media (max-width: 992px) {
  .header {
    padding: 30px 40px; } }

@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0; }
  .header-nav {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header-nav .header-nav-li {
    width: 50%;
    padding: 8px 0; }
  .header .header-logo {
    width: 48px;
    height: 29px;
    margin: 10px auto 10px auto; } }

.footer {
  background-color: #AA0601;
  padding-top: 32px;
  padding-bottom: 39px; }
  .footer .footer-content {
    margin: auto;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .footer-content .footer-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 40px; }
    .footer .footer-content .footer-nav-li {
      padding-right: 50px; }
    .footer .footer-content .footer-nav a {
      color: #ffffff;
      text-decoration: none; }
    .footer .footer-content .footer-nav a:hover {
      opacity: 0.8; }
    .footer .footer-content .footer-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .footer-content .footer-linkimg {
      padding-left: 50px; }
    .footer .footer-content .footer-linkimg a:hover {
      opacity: 0.8; }
  .footer .footer-contact {
    max-width: 1140px;
    margin: auto;
    padding-bottom: 24px;
    border-bottom: 1px solid #ffffff; }
  .footer .footer-contact a {
    font-size: 36px;
    line-height: 1.5;
    text-decoration: none;
    color: #ffffff;
    text-align: center; }
  .footer .footer-contact ul li img {
    margin-right: 20px;
    width: 36px; }
  .footer .footer-data {
    max-width: 1140px;
    margin: auto;
    color: #ffffff;
    font-size: 12px;
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .footer-data a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
  .footer .footer-data ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-data ul li {
      padding-left: 48px; }
    .footer .footer-data ul li a:hover {
      opacity: 0.8; }

@media (max-width: 767px) {
  .footer .footer-content .footer-nav {
    display: none; }
  .footer .footer-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-data .Copyright {
    font-size: 16px;
    line-height: 1.5; } }

.faq {
  max-width: 947px;
  margin: auto; }
  .faq .faq-h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 20px;
    margin-top: 60px;
    border-left: 8px solid #9F1213; }
  .faq .faq-h3 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 36px; }
  .faq .faq-h4 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold; }
  .faq .faq-h4 li p {
    font-size: 16px;
    padding-left: 95px;
    margin-bottom: 32px; }

.blog-header {
  background-color: #650300; }

.blog-link {
  max-width: 1110px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 0 10px 0; }

.blog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog-nav-list a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  padding-right: 20px; }

.blog-nav-list a:hover {
  opacity: 0.8; }

.blog-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blog-search .button {
    padding-left: 10px;
    -ms-flex-item-align: center;
        align-self: center; }
  .blog-search .button a:hover {
    opacity: 0.6; }

.blog-content-allcard {
  border: 1px solid #831111; }

.blog-card {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }

.blog-content {
  max-width: 1110px;
  margin: auto; }
  .blog-content .img01 {
    width: 635px;
    height: 400px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/blog-1.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .blog-content .img02 {
    width: 635px;
    height: 400px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/blog-2.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .blog-content .img03 {
    width: 635px;
    height: 400px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/blog-3.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .blog-content .img04 {
    width: 635px;
    height: 400px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/blog-4.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .blog-content .img05 {
    width: 635px;
    height: 400px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/blog-5.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .blog-content .blog-care-data {
    max-width: 42%;
    padding-left: 1%; }
  .blog-content .blogcard-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px; }
  .blog-content .blogcard-h3 {
    font-size: 32px;
    font-weight: bolder;
    line-height: 1.5;
    color: #650300; }
  .blog-content .blogcard-h4 {
    font-size: 20px;
    line-height: 1.5;
    color: #000000; }
  .blog-content .blogcard-h4-date {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    color: #000000; }
  .blog-content .blog-care-data p {
    font-size: 20px;
    line-height: 1.5;
    color: #555555; }
  .blog-content .blogcare-link {
    text-align: right; }
  .blog-content .blogcare-link a {
    font-size: 36px;
    line-height: 1.5;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;
    color: #650300; }
  .blog-content .blogcare-link a:hover {
    opacity: 0.8; }

.page123 {
  margin-top: 100px;
  margin-bottom: 150px; }
  .page123 .pagelist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page123 .pagelist li {
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid #555555; }
  .page123 .pagelist-number {
    width: 42px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center; }
  .page123 .pagelist-number a {
    display: block;
    color: #555555;
    text-decoration: none;
    padding: 10px; }
  .page123 .pagelist-number a:hover {
    color: #fff;
    background-color: #000000; }
  .page123 .pagelist-up {
    text-align: center; }
  .page123 .pagelist-up a {
    display: block;
    text-decoration: none;
    color: #555555;
    padding: 10px; }
  .page123 .pagelist-up a:hover {
    background-color: #F2F2F2; }

.store-wrap {
  max-width: 1110px;
  margin: auto; }

/*# sourceMappingURL=all.css.map */
